# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# dotenv
.env
*.env

# VSCode
.vscode/

# Docker
*.log
*.pid
*.sock
*.tar
*.db
*.db-journal

# OS
.DS_Store
Thumbs.db

# Generated data and files
data/
*.png
*.jpg
*.jpeg
*.gif
*.csv
*.json
!package.json
!package-lock.json